<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{{khoaHoc.hinhAnh}}" alt="{{khoaHoc.tenKhoaHoc}}" width=100%>
        </div>
        <div class="col-6">
            <table>
                <thead>
                    <tr>
                        <th>Tên khóa học</th>
                        <th>{{khoaHoc.tenKhoaHoc}}</th>
                    </tr>
                    <tr>
                        <th>Mô Tả</th>
                        <th>{{khoaHoc.moTa}}</th>
                    </tr>
                    <tr>
                        <th><button class="btn btn-success"(click)="dangKyKhoaHoc(khoaHoc)">Đăng ký khóa học</button></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
